* {
  /* background-color: black; */
  color: darkgray;
  /* border: solid, grey; */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(
    90deg,
    black 22%,
    teal 32%,
    rgb(103, 32, 171)
  );
}

.bodyContent {
  display: flex;
  justify-content: space-between;
}

/* div {
  align-content: flex-end;
} */

.estonia-regular {
  font-family: "Estonia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin: 0;
  height: 100px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px;
}

section {
  padding: 10px 15px;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 45px;
  max-width: 300px;
}

h1 {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

h1 div:first-child {
  font-size: 76px;
}

p {
  font-size: 24px;
  margin-top: 0;
}

.profilePic {
  width: 300px;
  border-radius: 20px;
}

.voteSticker {
  position: absolute;
  width: 120px;
  height: 120px;
  align-self: center;
  margin-left: 400px;
}

.Z1 {
  z-index: -1;
  animation: fadeOpacity 4s linear 4s 1 normal forwards;
}
.Z2 {
  z-index: -2;
  filter: invert(100%);
  animation: fadeOpacity 4s linear 8s 1 normal forwards;
}
.Z3 {
  z-index: -3;
  filter: grayscale(100%);
  animation: fadeOpacity 6s linear 12s 1 normal forwards;
}

@keyframes fadeOpacity {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.stickerBox {
  display: flex;
  flex-direction: row;
}

i {
  display: flex;
  align-content: center;
  padding: 1px;
}

.iconPadding {
  padding: 5px 15px 5px 0;
}

.iconPaddingLeft {
  padding: 5px 0 5px 15px;
}

.plugs {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  max-width: 260px;
}

.githubIcon:hover,
.twitterIcon:hover,
.emailIcon:hover,
.scrollIcon:hover {
  transform: scale(1.3);
  color: aliceblue;
  text-shadow: 0 0 5px aliceblue;
}

.githubIcon:hover .githubHandle {
  visibility: visible;
  margin-left: -55px;
  color: rgb(3, 217, 3);
}

.twitterIcon:hover .twitterHandle {
  visibility: visible;
  margin-left: -130px;
  color: aqua;
}

.emailIcon:hover .emailAddress {
  visibility: visible;
  margin-left: -200px;
  color: red;
}

.githubHandle,
.twitterHandle,
.emailAddress {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  margin-top: 40px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 200px;
}

.about {
  padding-left: 50px;
}

.cert {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 280px;
  height: 210px;
  left: 50px;
  bottom: 130px;
}

.scrollEl {
  display: flex;
  align-items: center;
}

.scrollIcon:hover .cert {
  visibility: visible;
}

.aboutMe {
  padding-top: 0;
}

.xp {
  min-width: 66%;
}

.blackhole {
  background-color: black;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  font-size: 0px;
  color: black;
  text-shadow: 0px 0px 2px blue, 0px 0px 5px white,
    0px 0px 8px rgb(248, 172, 95), 0px 0px 12px red, 0px 0px 18px yellow;
  animation: glow 1s infinite alternate linear;
}

.blackhole:hover {
  transform: scale(1.3);
  transition-duration: 0.5s;
  font-size: 20px;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px 3px whitesmoke, 0 0 10px 4px yellow, 0 0 10px 5px red;
  }
  100% {
    box-shadow: 0 0 5px 3px whitesmoke, 0 0 15px 8px yellow, 0 0 20px 16px red;
  }
}

.weatherMusic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: solid 10px;
  border-radius: 20px;
  color: black;
  box-shadow: 0 0 5px 3px rgb(2, 202, 202), 0 0 15px 5px white;
  background-color: black;
}

.weatherMusic:hover {
  transform: scale(1.3);
  transition-duration: 0.5s;
}
.weatherMusic:hover .wmTextTop {
  visibility: visible;
}
.weatherMusic:hover .wmTextBtm {
  visibility: visible;
}
.weatherMusic:hover .wmIcon {
  color: aqua;
}

.wmIcon {
  text-shadow: 0 0 8px aqua;
  color: black;
}

.wmTextTop {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  color: aqua;
  font-size: 24px;
  padding-bottom: 130px;
  text-shadow: 0 0 5px black, 0 0 8px black, 0 0 16px aqua;
}
.wmTextBtm {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  color: aqua;
  font-size: 24px;
  padding-top: 130px;
  text-shadow: 0 0 5px black, 0 0 8px black, 0 0 16px aqua;
}
