* {
  background-color: black;
  color: darkgray;
  /* border: solid, grey; */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bodyContent {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

section {
  padding: 20px;
}

.profilePic {
  width: 300px;
}

i {
  padding: 10px;
}

.plugs {
  display: flex;
  justify-content: center;
}

.xp {
  min-width: 66%;
}
